.autotools
.cproject
.project
.settings
*.o
*.Plo
*.a
*.so.*
*.la
*.lai
*.lo
*.Po
*.pc
*.so
*.lib
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/config.status
/utils/common/.dirstamp
/testbed/.libs/lt-testcms
/testbed/.libs/testcms
/testbed/testcms
.idea/
Makefile
cmake-build-debug/
include/Makefile
libtool
src/Makefile
testbed/Makefile
utils/jpgicc/.libs/
utils/jpgicc/Makefile
utils/jpgicc/jpgicc
utils/linkicc/.libs/
utils/linkicc/Makefile
utils/linkicc/linkicc
utils/psicc/.libs/
utils/psicc/Makefile
utils/psicc/psicc
utils/tificc/.libs/
utils/tificc/Makefile
utils/tificc/tificc
utils/transicc/.libs/
utils/transicc/Makefile
utils/transicc/transicc
